<div class="bg-gray-100 dark:bg-gray-950 dark:text-white duration-200 relative">
    <section class="max-w-[1200px] mx-auto">
      <div class="grid md:grid-cols-3 py-5 text-center py-10 border-t-2 border-gray-300/50">
        <!-- Left Section -->
         
        <div class="py-8 px-4 ">
          <h1 class="sm:text-3xl text-xl font-bold sm:text-left text-justify mb-3 flex items-center gap-3">
            <img [src]="footerLogo" alt="Logo" class="max-w-[50px]" />
            FOODIE
          </h1>
          <p>
            Lorem ipsum dolor sit amet consectetur. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Possimus, voluptate.
          </p>
          <br />
          <div class="flex items-center gap-3">
            <i class="fa-solid fa-location-arrow"></i>
            <p>Noida, Uttar Pradesh</p>
          </div>
          <div class="flex items-center gap-3 mt-3">
            <i class="fa-solid fa-mobile-alt"></i>
            <p>+91 123456789</p>
          </div>
          <!-- Social Handles -->
          <div class="flex items-center gap-3 mt-6">
            <a href="#">
              <i class="fab fa-instagram text-3xl"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook text-3xl"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin text-3xl"></i>
            </a>
          </div>
        </div>
        <!-- Links Section -->
        <div class="grid grid-cols-2 sm:grid-cols-3 col-span-2 md:pl-10">
          <div class="py-8 px-4">
            <h1 class="sm:text-xl text-xl font-bold sm:text-left text-justify mb-3">
              Important Links
            </h1>
            <ul class="flex flex-col gap-3">
              <li class="cursor-pointer">Home</li>
              <li class="cursor-pointer">About</li>
              <li class="cursor-pointer">Services</li>
              <li class="cursor-pointer">Login</li>
            </ul>
          </div>
          <div class="py-8 px-4">
            <h1 class="sm:text-xl text-xl font-bold sm:text-left text-justify mb-3">
              Links
            </h1>
            <ul class="flex flex-col gap-3">
              <li class="cursor-pointer">Home</li>
              <li class="cursor-pointer">About</li>
              <li class="cursor-pointer">Services</li>
              <li class="cursor-pointer">Login</li>
            </ul>
          </div>
          <div class="py-8 px-4">
            <h1 class="sm:text-xl text-xl font-bold sm:text-left text-justify mb-3">
              Links
            </h1>
            <ul class="flex flex-col gap-3">
              <li class="cursor-pointer">Home</li>
              <li class="cursor-pointer">About</li>
              <li class="cursor-pointer">Services</li>
              <li class="cursor-pointer">Login</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Footer Bottom -->
      <div>
        <div class="text-center py-10 border-t-2 border-gray-300/50">
          © {{ year }} All rights reserved || Made with ❤️ by Nounux
        </div>
      </div>
    </section>
  </div>
  