<div class="min-h-[550px] dark:bg-gray-950 dark:text-white duration-200 relative">
    <div
      class="min-h-[550px] flex justify-center items-center backdrop-blur-xl py-12 sm:py-0"
    >
      <div class="container" data-aos="slide-up" data-aos-duration="300">
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
          <!-- Image Section -->
          <div>
            <img
              [src]="biryaniImg"
              alt="biryani img"
              class="max-w-[430px] w-full mx-auto drop-shadow-[-10px_10px_12px_rgba(0,0,0,1)]"
            />
          </div>
  
          <!-- Text Content Section -->
          <div class="flex flex-col justify-center gap-6 sm:pt-0">
            <h1 class="text-3xl sm:text-4xl font-bold">Lorem, ipsum dolor.</h1>
            <p class="text-sm text-gray-500 tracking-wide leading-5">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque
              reiciendis inventore iste ratione ex alias quis magni at optio
              <br />
              <br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae ab
              sed, exercitationem minima aliquid eligendi distinctio? Fugit
              repudiandae numquam hic quo recusandae. Excepturi totam ad nam velit
              quasi quidem aspernatur.
            </p>
  
            <!-- Icons Section -->
            <div class="flex gap-6">
              <div>
                <div
                  class="text-4xl h-20 w-20 shadow-sm p-5 rounded-full bg-violet-100 dark:bg-violet-400 flex items-center justify-center"
                >
                <i class="fas fa-shield-alt"></i>
            </div>
              </div>
              <div>
                <div
                  class="text-4xl h-20 w-20 shadow-sm p-5 rounded-full bg-orange-100 dark:bg-orange-400 flex items-center justify-center"
                >
                <i class="fas fa-pizza-slice"></i>
            </div>
              </div>
              <div>
                <div
                  class="text-4xl h-20 w-20 shadow-sm p-5 rounded-full bg-green-100 dark:bg-green-400 flex items-center justify-center"
                >
                <i class="fas fa-utensils"></i>
            </div>
              </div>
            </div>
  
            <!-- Button Section -->
            <div>
                <button class="bg-gradient-to-r from-yellow-400 to-yellow-500 text-white px-6 py-3 rounded-full hover:scale-105 duration-200">
  Order Now
</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  